<h1>Characters List:</h1>
<div><ul id="errors"></ul></div>
<a href="#/character/new" class="btn btn-primary">New character</a>
<table class="table striped">
    <thead>
        <tr>
            <th>Character</th>
            <th>Last name</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-content">

    </tbody>
</table>

