<h1>New character:</h1>
<div><ul id="errors"></ul></div>
<form class="edit-author-form">
    <label for="name">Name:</label>
    <input type="text" id="name" />
    <label for="strength">Strength (STR):</label>
    <input type="text" id="strength" />
    <label for="dexterity">Dexterity (DEX):</label>
    <input type="text" id="dexterity" />
    <label for="constitution">Constitution (CON):</label>
    <input type="text" id="constitution" />
    <label for="intelligence">Intelligence (INT):</label>
    <input type="text" id="intelligence" />
    <label for="wisdom">Wisdom (WIS):</label>
    <input type="text" id="wisdom" />
    <label for="charisma">Charisma (CHA):</label>
    <input type="text" id="charisma" />
    <button type="submit" class="btn btn-success">Roll</button>
</form>

